body {
    background: rgba(9, 5, 250, 0.062);
}
table {
    border-collapse: collapse;
    width: 100%;
    background: rgb(232, 238, 223);
    font-family: sans-serif;
}
th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
form {
    background: rgba(20, 94, 119, 0.877);
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
}
button:hover {
    background-color: rgb(0, 0, 0); 
}
